h2{
    text-align: center;
    font-size: 40px;
}

.carrito-principal {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}


.carrito-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}


.img-cart {
    width: 200px;
    height: 150px;
    object-fit: cover;

}


.contador-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    width: fit-content;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: opacity 0.3 ease, transform 0.3s ease, visibiliti 0.3s ease;
}


.carrito-item:hover .contador-cart {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.btn-count {
    background-color: aqua;
    border: none;
    border-radius: 6px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    cursor: pointer;
}


.contador-cart span {
    font-size: 16px;
    min-width: 80px;
    text-align: center;
}


.btn-count:hover {
    background-color: aquamarine;
}


.carrito-item h3 {
    margin: 0;
}


.btn-quitar {
    background-image: url('./src/img/Btn-rojo.avif');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Permanent Marker", cursive;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;
}


.btn-quitar:hover {
    color: black;
    cursor: pointer;
}


.acciones-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}


.btn-vaciar-cart {
    background-image: url('./src/img/Btn-rojo.avif');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Permanent Marker", cursive;
    color: white;
    padding: 13px 17px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-vaciar-cart:hover {
    color: black;
    cursor: pointer;
}



.btn-pagar-cart {
    background-image: url('./src/img/Btn-amarillo.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Permanent Marker", cursive;
    min-width: 250px;
    color: rgb(0, 0, 0);
    border: none;
    padding: 13px 17px;
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;
    font-size: 20px;
}

.btn-pagar-cart:hover {
    background-color: #e4c600
}


.acciones-cart,
h3 {
    text-align: center;
    font-size: 20px;
}