.cart-widget {
  position: relative;
  color: rgb(2, 243, 22);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.cart-widget:hover {
  color: red;
}

.cart-icon {
  width: 28px;
  height: 28px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #ff3b3b;
  color: white;
  border-radius: 50%;
  font-size: 0.75rem;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}