.checkout-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 25px;
}

.checkout-container h1 {
    text-align: center;
    margin-bottom: 25px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;

}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Permanent Marker", cursive;
    padding: 8px 10px;
    border-radius: 5px;
}

.btn-confirmar {
    background-image: url('./src/img/Btn-amarillo.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Permanent Marker", cursive;
    margin-top: 20px;
    padding: 10px;
    border: none;
    color: black;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-confirmar:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}