.main-header {
    background-image: url('./src/img/NavBar.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 97, 5%;

    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 70px;
    width: 200px;
    margin-right: 20px;
}

.nav-links {
    margin: 10px;
    display: flex;
    gap: 15px;
}


.nav-item {
    background-image: url('./src/img/Btn-navbar.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 15px;
    color: rgb(2, 243, 22);
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-item:hover {
    color: red;
    text-decoration: underline;
}