.main-header{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-header h2{
    margin: 0;

}

.nav-links{
    display: flex;
    gap: 15px;
    

}

.nav-item{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-item:hover{
    text-decoration: underline;
}