.main-header{
    background-image: url('./src/img/NavBar.avif') ;
      background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    height: 50px;
   width: 97,5%;
    
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-header h2{
    margin: 0;

}

.nav-links{
    display: flex;
    gap: 15px;
    

}

.nav-item{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-item:hover{
    text-decoration: underline;
}