.main-content {
  background-image: url('./src/img/MainContent.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: fit;
  text-align: center;
  padding: 5px 2px;
}


.img-index-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.img-index-container p {
  font-size: 35px;
}

.img-index {
  display: flex;
  height: 450px;
}


h3 {
  font-size: 34px;
}

p {
  font-size: 28px;
}

.btn-ver-catalogo {
  background-image: url('./src/img/Buttons.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Permanent Marker", cursive;
  border: none;
  height: 60px;
  width: 250px;
  font-size: 20px;
  cursor: pointer;
}

.btn-ver-catalogo:hover {
  color: blue;
  cursor: pointer;

}


.index-img-text {
  text-align: right;
}