html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Layout principal */
.background {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #fff98f;
}

/* Header */
.header {
  background-color: orange;
  color: green;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

/* Contenido principal */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

/* Caja central */
.main-box {
  background-color: rgb(255, 216, 59);
  border-radius: 16px;
  padding: 2rem;
  max-width: 1300px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  width: 100%;
}

/* Títulos y párrafos */
h1 {
  color: black;
}

p {
  color: black;
}

.btn-ver-todas{
  display: inline-block;
  padding: 10px 20px;
  background-color: #d59711;
  color: black;
  border-radius: 8px;
  text-decoration: none;
}

.btn-ver-todas:hover{
  background-color: #b47c0e;
  color: white;
}








/* productos */
.productos-container {
  padding: 30px 60px;
  background-color: rgb(142, 127, 65);
  min-height: 70vh;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.productos-container h2{
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  z-index: 1;
  position: relative;
  margin-top: 0px;

}

.productos-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card-producto{
  flex: 0 0 260px;
  background-color: rgb(236, 234, 119);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.card-producto h3{
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.precio{
  font-size: 1.1rem;
  color: rgb(73, 73, 73);
  margin-bottom: 10px;
}

.card-botones{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: auto;
}

.btn-agregar, .btn-detalles{
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
  transition:all 0.2s ease;
}

.btn-agregar{
  background-color: #d59711;
}

.btn-agregar:hover{
  background-color: #b47c0e;
  color: white;
}

.btn-detalles{
  background-color: #6da3d9;
  color: white;
}

.btn-detalles:hover{
  background-color: #557ea8;
}




