#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}


body {
  background-image: url('./src/img/Background.jpg');
  font-family: "Permanent Marker", cursive;
}


.main-content {
  min-height: 0;
}